<p> hello <%= (current_user.email if current_user) || 'guest' %> </p>

<h3>Chat</h3>
<ul id="chat">
</ul>

<form data-remote='true' id='footer'>
    <input id='input' type='text'></input>
    <button id='submit'></button>
</form>


<script type="text/javascript">
    var faye = new Faye.Client('http://localhost:9292/faye');
    faye.subscribe('/messages/new', function(data){
        console.log(data)
        var li = $(document.createElement('li'))
        li.text(data.user.split('@')[0] + ':   ' + data.data)
        $('#chat').append(li)
    })
    $('#submit').on('click', function(){
        faye.publish('/messages/new', {data: $('#input').val(), user: "<%= current_user.email  %>"});
        $('#input').val('')
        return false
    })

</script>