<p> hello <%= (current_user.email if current_user) || 'guest' %> </p>


<a href="/convos/new"><button>new convo</button></a>

<ul>
    <% current_user.convos.each do |convo| %>
        <div>
        <a href="/convos/<%= convo.id %>">
            convo with <%= convo.users.map{|u| u.email}.to_s.gsub(/["\[\]]/,'') %>
        </a>
        <input type='text' placeholder='add email'></input>
        <button class='submit' convoid="<%= convo.id %>" id='submit'>enter</button>
        <br>
        </div>
    <% end %>
</ul>

<script type="text/javascript">
    $('.submit').on('click', function(){
        var self = this;
        var inputz = $(self).siblings()
        console.log(inputz)
        inputz = $(inputz[inputz.length - 2 ])
        console.log(inputz)
        $.ajax({
            method: 'post',
            url: 'convos/add',
            data: {
                email: inputz.val(),
                convo: self.getAttribute('convoid')
            }
        })
        inputz.val('')
        return false
    })
</script>