<!DOCTYPE html>
<html>
<head>
    <title></title>
    <%= javascript_include_tag 'http://localhost:9292/faye.js' %>
    <script type="text/javascript">
    </script>
</head>
<body>
    <p>this is the index</p>
</body>
</html>