<p> hello <%= (current_user.email if current_user) || 'guest' %> </p>


<a href="/convos/new"><button>new convo</button></a>

<ul>
    <% current_user.convos.each do |convo| %>
        <a href="/convos/<%= convo.id %>">
            convo with <%= convo.users.map{|u| u.email}.to_s.gsub(/["\[\]]/,'') %>
        </a>
        <input type='text' placeholder='add email'></input>
        <button convoid="<%= convo.id %>" id='submit'>enter</button>
    <% end %>
</ul>

<script type="text/javascript">
    $('#submit').on('click', function(){
        var self = this;
        console.log(self)
        console.log(self.getAttribute('convoid'))
        $.ajax({
            method: 'post',
            url: 'convos/add',
            data: {
                email: $('input').val(),
                convo: self.getAttribute('convoid')
            }
        })
        $('input').val('')
        return false
    })
</script>