<p>
    hello <%= current_user.email %>
</p>

<form data-remote='true'>
    <input id='input' type='text'></input>
    <button id='submit'>submit</button>
</form>

<ul id="chat">
    this is ta test
</ul>

</body>
<script type="text/javascript">
    var faye = new Faye.Client('http://localhost:9292/faye');
    faye.subscribe('/messages/new', function(data){
        console.log(data)
        var li = $(document.createElement('li'));
        li.text(data.data);
        $('#chat').append(li)
    })
    $('#submit').on('click', function(){
        faye.publish('/messages/new', {data: $('#input').val()});
        return false
    })

</script>