<% if @convo.users.include?(current_user) %>
<h4>convo with <%= @convo.users.map{|u| u.email}.to_s.gsub(/[\"\[\]]/, '') %></h4>

<ul id="chat"></ul>

<form data-remote='true' id='footer'>
    <input id='input' autocomplete="off" type='text' placeholder=' message...'></input>
    <button class='message' id='submit'></button>
</form>

<script type="text/javascript">
////////////////////////////////////////////////////////////////////////////////////////

var convoid = "<%= @convo.id %>";

function render_carrier(input){
    var li = $(document.createElement('li'));
    li.text(input.email.split('@')[0] + ':   ' + input.messages[input.messages.length -1].content);
    $('#chat').append(li);
    window.scroll(0, li.offset().top);
    // if current user === the user of the message/convo, should color via class
}

function render_carrier2(input){
    var big_div = $(document.createElement('div'));
    var small_div = $(document.createElement('div'));
    var content = input.messages[input.messages.length -1].content;
    var time = 


    big_div.addClass('big_div');
    small_div.addClass('small_div');
       
}

$.ajax({
    url: '/carriers/fetch',
    method: 'post',
    data: {convo: convoid},
    success: function(data){
        console.log(data)
        for (var i = 0; i < data.length; i++){
            render_carrier(data[i])
        }
    }
})

var faye = new Faye.Client("https://wavvefaye.herokuapp.com/faye");

faye.subscribe('/faye/' + convoid, function(data){
    render_carrier(data)
});

$('.message#submit').on('click', function(){
    var info = {
        // parent carier : this.sibling or something
        messages: [{content: $('#input').val()}],
        email: "<%= current_user.email  %>",
        user: "<%= current_user.id %>",
        convo: convoid
    };
    faye.publish('/faye/' + convoid, info);
    $.ajax({
        url: '/carriers',
        method: 'post',
        data: info
    });
    $('#input').val('');
    return false
});


</script>
<% end %>

