body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e4e4e4;
    font-family: sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
    margin: 0;
}

#input {
    width: 100%;
    height: 3em;
    margin: 0;
    border: none;
    font-size: 1em;
}

ul {
    list-style-type: none;
}

input {
    background-color: #eee;
    padding-left: 10px;
}

input::-webkit-input-placeholder {
    color:  #599;
}

input:focus::-webkit-input-placeholder {
    color:  #7abacc;
}

input:focus {
    background-color: #7abacc;
    outline: none;
}

ul  {
    padding-bottom: 3em;
}

a {
    color: teal;
}


h4 {
    color: #0bc;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}


.big_div {
    padding-left: 80px;
    margin-left: 0px;
}

.small_div {
    background-color: #fdffff;
    width: 50%;
    margin: 0;
    height: 70px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

p {
    color: black;
    margin-left: 5px;

    padding: 5px;
    font-size: 1.1em;
}

.time_div {
    color: #aaa; /*rgba(210,210,210,1);*/
    float: right;
    display: inline;
    /*padding: 5px;*/
    font-size: 10px;
}

.email_div {
    color: #888; /*rgba(210,210,210,1);*/
    display: inline;
    /*padding:5px;*/
}

.mine {
    background-color: #bcdce5;/* #7abacc;*/
}

.hide {
    visibility: hidden;
}